body, html {
    min-height: 100%;
    height: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'PT-Sans-Regular', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header-top {
    margin:25px 15% 0 10%;
    font-size: 24px;
    text-align: center; 
}
.header-top img{
    max-width: 800px;
    max-height: 100px;
}
.block2 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    background-image: url(../images/baby.jpg); 
    background-size: cover;
}
.counter-info{
    text-transform: uppercase;
}
.counter-info h1{
    margin: 40px auto;
    font-size: 24px;
    font-family: 'PT-Sans-Bold', sans-serif;
    text-align: center;
}
.counter {
    margin: 15px auto 0;
    width: 250px;
    position: relative;
    padding: 10px;
}
.counter > img {
    display: inline-block;
    padding: 0;
    width: 170px;
    height: 170px;
    text-align: center;
    margin: 0px;
    margin-left: 50px;
}
.counter-answer{
    font-weight: bold;
    width: 250px;
    margin: 15px auto ;
}
.counter-answer a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 170px;
    padding: 0;
    text-align: center;
    margin-left: 50px;
}
.counter-answer  a:nth-child(2) {
    margin-left:50px;
}
.counter-answer a:hover {
    font-size: 28px;
    color:white;
    background-color: #0a3656;
    border: 1px solid red;
}
/*FOOTER*/
.try-it-info {
    font-family: 'PT-Sans-Regular', sans-serif;
    height: 150px;
    width: 1200px; 
    float: left;
    margin-left: 165px;
    margin-top: 0px;
}
.try-it-info form {
    margin: 50px 0px 20px 0px; 
    float: right;
}
.try-it-info form:nth-child(1) {
    float: left;
}
.try-it-info input[type="submit"] {
    font-family: 'PT-Sans-Bold', sans-serif;
    float: right;
    width: 250px;
    height: 50px;
    background-color: #0a3656;
    font-size: 30px ;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-bottom: 2px solid #000000; 
    border-radius: 50px 50px;
}
.try-it-info input[type="submit"]:hover {
    background-color: #000000;
    color:red;
    cursor:pointer;
}


